<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHelper</title>
    <link rel="icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/css/Lux.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>
<body>
<div style="position: absolute;max-height: 8rem; width: 100%">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">PyGoRun</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">首页<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">专题</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">可视化</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Links</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">扩展</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Works</a>
                        <a class="dropdown-item" href="#">Todo</a>
                        <a class="dropdown-item" href="#">Pictures</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">...</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">搜索</button>
            </form>
        </div>
    </nav>
</div>
<div style="height: 100vh; display: flex; flex-direction: column; overflow: hidden;">
    <div style="display: flex; align-items: flex-start; height: 100%; position: relative; margin-top: 7rem">
        <div class="col-md-2"
             style="padding: 0rem 0rem; height: 100%; background-color: #0c5460; overflow: scroll; margin-bottom: 2rem">
            <div style="height: 1400px; background-color: #2e72ea;">

            </div>
        </div>
        <div class="col-md-2"
             style="padding: 0rem 0rem; height: 100%; background-color: #0c5460; overflow: scroll; margin-bottom: 2rem">
            <div style="height: 1400px; background-color: #bedb88;">
            </div>
        </div>
    </div>
</div>
<!-- 返回顶部 -->
<div style="position: fixed; right: 30px; bottom: 10vh">
    <span class="float-lg-right"><a href="#top">Back to top</a></span>
</div>
<!-- 页脚 -->
<script type="text/javascript" src="../static/js/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="../static/js/popper.min.js"></script>
<script type="text/javascript" src="../static/js/script.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/moment-with-locales.min.js"></script>
</body>
</html>